<!-- admin-panel.component.html -->
<div>
    <h1>Welcome to Admin Panel</h1>
    <h5>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolores, aut eaque magni corrupti veritatis
        reiciendis illum vel non ab molestias repellendus autem impedit voluptatum iure saepe incidunt adipisci quis
        architecto reprehenderit deserunt quas consequuntur? Dolores, architecto debitis molestias vero nobis doloremque
        asperiores libero deserunt in officiis illo. Reprehenderit, inventore. Magnam voluptate culpa ullam aut,
        pariatur porro veniam officiis voluptatum odio, ratione sit provident accusamus incidunt doloremque voluptates
        praesentium atque? Ex debitis delectus iure labore consectetur culpa nam doloribus. Repellat ullam rem quia
        inventore consequatur! Ducimus quas commodi fugiat officia numquam voluptate corrupti repudiandae repellat, nisi
        quasi quos id repellendus sed nostrum laboriosam qui aperiam excepturi ratione, possimus debitis, sapiente quod
        consequatur! Quisquam, mollitia soluta? Dolorum dolorem minus unde rem recusandae ab dicta dolor consectetur
        asperiores, eveniet quod enim tempora quibusdam harum aliquid officia. Quis odit nihil vel hic et quidem
        excepturi architecto, tempore iure sed? Ullam consequatur, officia debitis accusantium accusamus iure quisquam
        laboriosam temporibus voluptatibus repudiandae, nemo maxime recusandae animi reiciendis sed laudantium
        blanditiis quae corporis similique quam. Sint dolores ad rerum neque amet. Accusamus, ut illo? Quisquam
        assumenda vitae id nostrum laborum nemo, accusamus illum facere, culpa eius perspiciatis dolore numquam iste.
        Adipisci facere ipsam corrupti sapiente, porro asperiores sit esse deleniti delectus molestiae reprehenderit
        illo quos illum. Ipsa veritatis recusandae voluptate nisi explicabo nulla soluta quisquam dolorem at, quasi
        impedit cupiditate repellendus possimus illum alias. Sit sed, asperiores obcaecati ipsam at vero nihil suscipit
        excepturi blanditiis. Itaque eos quis culpa in rem amet soluta facilis aspernatur suscipit tenetur magnam
        expedita, corrupti reiciendis fuga. Ex, temporibus hic perferendis soluta eos mollitia dolore. Corporis
        cupiditate commodi unde asperiores consectetur iusto quasi hic, quod, doloremque amet, quis eos molestias minus
        esse ex? Totam laboriosam distinctio harum ut, voluptas dolorem dolore tenetur ullam sequi? Quod amet deleniti
        error asperiores pariatur.</h5>
    <!-- Add your admin functionalities here -->
</div>