<!-- Sidebar -->
<div class="sidebar">
    <img src="assets/img/logo.png" alt="logo">
    <h2>MENU</h2>
    <a href="#"><img
            src="https://png.pngtree.com/png-vector/20230302/ourmid/pngtree-dashboard-line-icon-vector-png-image_6626604.png"
            alt="icon"> Dashboard</a><br>
    <a href="#">Hospitals</a><br>
    <a href="#">Appointments</a><br>
    <a href="#">Doctors</a><br>
    <a href="#">Patients</a> <br>
    <a href="#">Payments</a>
</div>

<!-- Main content -->
<div class="main">
    <!-- Dashboard -->
    <div class="dashboard">
        <div class="dashboard-circle">
            <p>Dashboard</p>
        </div>
        <!-- Cards for doctor profiles -->
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Patient</h5>
                    <p class="card-text">Doctor information here</p>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Doctors</h5>
                    <p class="card-text">Doctor information here</p>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Hospitals</h5>
                    <p class="card-text">Doctor information here</p>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Payments</h5>
                    <p class="card-text">Doctor information here</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Total number of patients -->
    <div class="patients">
        <div class="total-patients">
            <h2>Total Patients</h2>
            <p>Number of patients: <span id="patientCount">0</span></p>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">